{% extends "base.html" %}

{% block content %}

    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Shopping Cart</h1>
            </div>
        </div>
    </header>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>    
        {% endfor %}
    {% endif %}

    <div style="display: flex; justify-content: center; margin: 20px 160px 40px 160px; padding: 20px 260px 40px 260px;">
    {% if cart_items %}

        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        
        <table class="table table-borderless">
            <tbody>
                {% for item in cart_items %}
                    <tr>
                        <td>
                            <a href="{% url 'ecommerce:product_detail' item.product.id %}">
                                <!-- picture of the product - link to product details -->
                                <img src="{{ item.product.image.url }}" alt="product" width="100" height="100">
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'ecommerce:product_detail' item.product.id %}" style="text-decoration: none; color: black;">
                                <!-- name of the product - link to product details -->
                                {{ item.product }}
                            </a>
                        </td>
                        <td>
                            <form action="{% url 'cart:update_cart_item' item.id %}" method="post">
                                {% csrf_token %}
                                <input type="number" name="quantity" value="{{ item.quantity }}" min="1" style="width: 50px;">
                                <button type="submit" style="height: 28px;">Update</button>
                            </form>
                            
                        </td>
                        <td>${{ item.product.price }}</td>
                        <td>Total: ${{ item.total_item_price }}</td>
                        <td><a href="{% url 'cart:remove_from_cart' item.id %}"><button class="btn btn-secondary" >Remove</button></a></td>

                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3"></td>
                    <td>Total:</td>
                    <td>{{ total_price }}</td>
                    <td><a href="{% url 'cart:checkout' %}" class="btn btn-primary">Checkout</a></td>
                </tr>
            </tfoot>
            
        </table>
        
        
    {% else %}
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <p>Your shopping cart is empty.</p>
    {% endif %}
    </div>
{% endblock %}