{% extends "base.html" %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About us</h1>
        </div>
    </div>
</header>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>    
    {% endfor %}
{% endif %}

<h1 style="margin: 50px 260px 10px 260px; padding: 20px 260px; text-align: center;">Welcome to The EXTP Store</h1>

<div style="margin: 20px 640px; padding: 10px 10px; text-align: left;">

    <p>Your one-stop destination for a wide range of high-quality products that cater to your everyday needs. At The EXTP Store, we pride ourselves on offering an extensive selection of products carefully curated to meet the diverse lifestyles and preferences of our customers. From fashion-forward apparel to cutting-edge electronics, eco-friendly home goods to innovative gadgets, we have something for everyone.</p>

    <p>Our mission at The EXTP Store is simple: to provide our customers with top-notch products that enhance their lives and bring joy and convenience to their daily routines. Whether you're shopping for yourself, searching for the perfect gift, or simply browsing for inspiration, you'll find an unparalleled selection of items that combine style, functionality, and affordability.</p>

    <p>At The EXTP Store, we are committed to providing exceptional customer service and a seamless shopping experience. With fast shipping, easy returns, and secure payment options, we strive to make your shopping experience as convenient and enjoyable as possible. Join us today and discover why The EXTP Store is the ultimate destination for quality products that enhance your life.</p>
</div>

<h4 style="margin: 10px 260px 10px 260px; padding: 20px 260px; text-align: center;">Our top sold product:</h4>

<div id="video-container" style="margin: 20px 320px; padding: 0px 320px; text-align: left;">
    <iframe width="600" height="335" src="https://www.youtube.com/embed/XHTrLYShBRQ" frameborder="0" allowfullscreen></iframe>
</div>


{% endblock %}
