{% extends "base.html" %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Welcome to the EXTP store</h1>
            <p class="lead fw-normal text-white-50 mb-0">Here you can buy goods at attractive prices</p>
        </div>
    </div>
</header>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>    
    {% endfor %}
{% endif %}

<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            
            {% for product in products %}
            <div class="col mb-5">
                <div class="card h-100">
                    
                    <!-- if product on sale, show badge and actual price -->
                    {% if product.on_sale %}
                    <!-- Sale badge-->
                    <div class="badge text-white position-absolute"
                    style="top: 0.5rem; right: 0.5rem; font-size: 1.5rem; background-color: red;">Sale</div>
                    <!-- Product image-->
                    <a href="{% url 'ecommerce:product_detail' product.id %}">
                        <img class="card-img-top" src="{{ product.image.url }} "alt="..." />
                    </a>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <a href="{% url 'ecommerce:product_detail' product.id %}" style="text-decoration: none; color: black;">
                                <h5 class="fw-bolder">{{product.product_name}}</h5>
                            </a>
                            
                            <!-- Product price-->
                            <strike>${{product.price}}</strike>&nbsp;<span style="color: red; font-size: 1.4em;">${{ product.sale_price }}</span>
                            
                        </div>
                    </div>

                    {% else %}

                    <!-- Product image-->
                    <a href="{% url 'ecommerce:product_detail' product.id %}">
                        <img class="card-img-top" src="{{ product.image.url }} "alt="..." />
                    </a>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <a href="{% url 'ecommerce:product_detail' product.id %}" style="text-decoration: none; color: black;">
                                <h5 class="fw-bolder">{{product.product_name}}</h5>
                            </a>
                            
                            <!-- Product price-->
                            ${{product.price}}
                            
                        </div>
                    </div>
                    
                    {% endif %}

                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'ecommerce:product_detail' product.id %}">View options</a></div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>
{% endblock %}

