{% extends "base.html" %}

{% block content %}

<!-- Header class="bg-dark py-5"-->
<header style="background-color: #212529; padding: 10px 0px;">
    <div class="container px-4 px-lg-5 my-5" >
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Welcome to the EXTP store</h1>
            <p class="lead fw-normal text-white-50 mb-0">Here you can buy goods at attractive prices</p>
        </div>
    </div>
</header>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>    
    {% endfor %}
{% endif %}

<form method="POST">
    {% csrf_token %}
    <div id="search-container">
        <input type="text" name="product_name" placeholder="Search by name..." value="{{ form.product_name.value|default_if_none:'' }}">
        <select name="category" style="background-color: white;" >
            {% if category %}
            
            <option value="{{ category.id }}">{{ category.name }}</option>
            <option value="">All Categories</option>
            {% else %}
            <option value="">All Categories</option>
            {% endif %}
            {% for category_item in categories %}
                {% if category.id == category_item.id %}
                    <!-- Do nothing here -->
                {% else %}
                    <option value="{{ category_item.id }}">{{ category_item.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <input type="number" name="price_min" placeholder="Price Range: Min" step="0.01" value="{{ form.price_min.value }}">
        <input type="number" name="price_max" placeholder="Price Range: Max" step="0.01" value="{{ form.price_max.value }}">
        <button type="submit">Search</button>
    </div>
</form>

<!-- Section-->
<section  style="padding-top: 0px; padding-bottom: 0px;">
    <div class="container px-4 px-lg-5 mt-5" >
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" >
            
            {% for product in products %}
            
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <a href="{% url 'ecommerce:product_detail' product.id %}">
                        <img class="card-img-top" src="{{ product.image.url }} "alt="..." />
                    </a>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <a href="{% url 'ecommerce:product_detail' product.id %}" style="text-decoration: none; color: black;">
                                <h5 class="fw-bolder">{{product.product_name}}</h5>
                            </a>
                            
                            <!-- Product price-->
                            ${{product.price}}
                        </div>
                    </div>
                    <!-- Product actions-->
                    {% if user.is_authenticated %}
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'cart:add_to_cart' product.id %}">Add To Cart</a></div>
                    </div>
                    {% else %}
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'cart:add_to_cart_unknown_user' %}">Add To Cart</a></div>
                    </div>
                    {% endif %}
                </div>
            </div>

            {% endfor %}
        </div>
    </div>

    <!-- button that appears after searching -->
    {% if category != False %}
    <div style="margin: 20px 260px; padding: 20px 260px; text-align: center;">
    <a href="{% url 'ecommerce:home' %}" ><button class="btn btn-secondary">Reset</button></a>
    </div>
    {% endif %}

</section>

<!-- Pagination links -->
{% if category == False %}
    <div class="pagination-container" style="display: flex; justify-content: center; margin: 20px 0;">
        <div class="pagination" style="display: flex; align-items: center;">
            <span class="step-links">
                {% if products.has_previous %}
                    <a href="?page={{ products.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><button class="btn btn-secondary">Previous</button></a>
                {% endif %}

                <span class="current" style="font-size: 18px; color: rgb(114, 114, 114); font-weight: bold;">
                    Page {{ products.number }} of {{ products.paginator.num_pages }} 
                </span>

                {% if products.has_next %}
                    <a href="?page={{ products.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><button class="btn btn-secondary">Next</button></a>
                {% endif %}
            </span>
        </div>
    </div>
{% endif %}


{% if not products %}
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endif %}

{% endblock %}

