{% extends "base.html" %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Product details</h1>
        </div>
    </div>
</header>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>    
    {% endfor %}
{% endif %}

<h1 style="margin: 50px 260px 10px 260px; padding: 20px 260px; text-align: center;">{{ product.product_name }}</h1>

<div style="display: flex; justify-content: center; margin: 20px 160px 40px 160px; padding: 20px 160px 40px 160px;">
    <div style="flex: 1; margin-right: 20px; text-align: center;">
        <img src="{{ product.image.url }}" alt="product" width="350" height="350">
    </div>
    <div style="flex: 1; text-align: left;">
        <p><strong><i>Seller:</i></strong> {{ product.seller }}</p>
        <p><strong><i>Category:</i></strong> {{ product.category }}</p>
        <h5><strong><i>Description:</i></strong> </h5>
        <p>{{ product.description }}</p>
        <p><strong><i>Price:</i></strong> ${{ product.price }}</p>
        {% if product.quantity > 10 %}
        <p><strong><i>Available:</i></strong> more than 10</p>
        {% else %}
        <p><strong><i>Available:</i></strong> {{ product.quantity }}</p>
        {% endif %}
        <p><strong><i>Posted:</i></strong> {{ product.created_at|date:"Y-m-d" }}</p>
        <br>
        <a href="{% url 'ecommerce:home' %}" style="margin-right: 30px;""><button class="btn btn-secondary" >Go Back</button></a>
        {% if user.is_authenticated %}
        <a href="{% url 'cart:add_to_cart' product_id %}"><button class="btn btn-secondary" >Add to Cart</button></a>
        {% else %}
        <a href="{% url 'cart:add_to_cart_unknown_user' %}"><button class="btn btn-secondary" >Add to Cart</button></a>
        {% endif %}
    </div>
</div>

{% endblock %}